{% extends "base_generic.html" %}

{% block content %}
  <h1>Conheça Nossos Jogadores</h1>
  {% if jogador_list %}
    <p>Aqui estão os talentosos jogadores que fazem parte do nosso time de futebol:</p>
    <ul>
      {% for jogador in jogador_list %}
        <li>
          <a href="{{ jogador.get_absolute_url }}">{{ jogador.nome }}</a>
          {% if jogador.posicao %}
            - {{ jogador.posicao }}
          {% endif %}
          {% if jogador.numero_camisa %}
            (Camisa #{{ jogador.numero_camisa }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Infelizmente, ainda não temos jogadores cadastrados no site. Fique atento para futuras atualizações!</p>
  {% endif %}
{% endblock %}
