{% extends "base_generic.html" %}

{% block content %}
  <h1>Conheça Nossos Treinadores</h1>
  {% if treinador_list %}
    <p>Aqui estão os dedicados treinadores que lideram e inspiram nosso time:</p>
    <ul>
      {% for treinador in treinador_list %}
        <li>
          <a href="{{ treinador.get_absolute_url }}">{{ treinador.nome }}</a>
          {% if treinador.experiencia %}
            - Experiência: {{ treinador.experiencia }} anos
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Infelizmente, ainda não temos treinadores cadastrados no site. Estamos trabalhando para trazer mais informações em breve!</p>
  {% endif %}
{% endblock %}
